
/*below from harry quote*/

body {
  margin: 0 auto;
  width: 90%;
}

.search-div, .add-div, .list-div, .profile-div, .delete-div {
  background-color: #EFEFEC;
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
}

.database-box {
  /*padding: 20px;*/
  /*border-radius: 5px;*/
  font-family: monospace;
/*  background-color: #C7B58C;
*/}

.postBox {
  /*padding: 20px;*/
  /*border-radius: 5px;*/
  /*font-family: monospace;*/
  background-color: #C7B58C;
  margin-bottom: 5px; 
   /*color: red;*/
}

#all-posts {
  list-style: none;
  padding-left: 0px;
}
/*below from faketwitter*/

.vert-offset-top-3{
    margin-top: 3em;
}

.vert-offset-top-1{
    margin-top: 1em;
}

table {
/*    border: 1px solid red;
    border-collapse: collapse;
    padding: 50px;*/
}

h1 {
     vertical-align: bottom;
}
#all-posts > li {
  /*background-color: blue;*/
}


.no-bullet {
  padding-left:0px;
  list-style: none;
}

.lastRefresh {
/*  padding-left:0px;
  list-style: none;*/
}

.nav>li>a {
  /*position: relative;*/
  /*display: block;*/
  /*padding: 10px 15px;*/
  color: #FFFFFF;
  background-color: #584C39;
}

.property {
  font-weight: bold;
  list-style: none;
  /*color: red;*/
  /*font-family: 'Allura', cursive;*/
}

.hovered {
  background-color: rgba(235, 238, 249, 1);  
}

/*//below from array default db

body {
  white-space: pre;
  font-family: monospace;
}


.type-null {
  color: gray;
}

.type-boolean {
  color: firebrick;
}

.type-number {
  color: blue;
}

.type-string {
  color: green;
}

.callback-function {
  color: gray;
}

.collapser:after {
  content: "-";
}

.collapsed > .collapser:after {
  content: "+";
}

.ellipsis:after {
  content: " … ";
}

.collapsible {
  margin-left: 2em;
}

.hoverable {
}

.collapser {
  padding-right: 6px;
  padding-left: 6px;
}*/